---
import ProjectFilters from '../components/ProjectFilters.astro';
import ProjectList from '../components/ProjectList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col gap-4 p-4 max-w-screen-xl mx-auto">
		<div class="text-center py-8 flex flex-col gap-4">
			<div class="uppercase text-3xl font-bold">
				<h2>Find your favorite</h2>
				<h2 class="text-blue-500">%platform% plugins</h2>
			</div>
			<p>Hangar allows you to find and download the best Paper plugins, Velocity plugins or Waterfall plugins for your Minecraft server</p>
		</div>
		<div class="flex flex-col gap-4 items-start md:flex-row">
			<ProjectFilters />
			<ProjectList />
		</div>
	</div>
</Layout>
