---
import Pagination from "../Pagination.astro";
import ProjectListItem from "./ProjectListItem.astro";

// Placeholder projects
const projectsResponse = await fetch('https://hangar.papermc.dev/api/v1/projects');
const projects = await projectsResponse.json();
---

<div class="flex flex-col gap-4 items-center">
    <nav class="flex flex-col gap-2 w-full">
        {
            projects.result.map((project) => (
                <ProjectListItem project={project} />
            ))
        }
    </nav>
    <Pagination />
</div>