---
import { Image } from 'astro:assets';
import paperLogoDark from '../assets/paper-logo-dark.svg';

const links = [
    {
        category: "Hangar",
        links: [
            {
                name: "Authors",
                href: "/authors"
            },
            {
                name: "Staff",
                href: "/staff"
            },
            {
                name: "Resource Guidelines",
                href: "/guidelines"
            },
            {
                name: "Status",
                href: "https://status.papermc.io"
            },
            {
                name: "Hangar API",
                href: "/api-docs"
            }
        ]
    },
    {
        category: "Terms",
        links: [
            {
                name: "Terms and Conditions",
                href: ""
            },
            {
                name: "Privacy Policy",
                href: ""
            },
            {
                name: "Legal Notice",
                href: ""
            },
        ]
    },
    {
        category: "Community",
        links: [
            {
                name: "Our Community",
                href: ""
            },
            {
                name: "Github",
                href: ""
            },
            {
                name: "Discord",
                href: ""
            },
            {
                name: "Forums",
                href: ""
            },
            {
                name: "Twitter",
                href: ""
            },
        ]
    },
    {
        category: "PaperMC",
        links: [
            {
                name: "Our Team",
                href: ""
            },
            {
                name: "Contribute",
                href: ""
            },
            {
                name: "Sponsors",
                href: ""
            },
            {
                name: "Homepage",
                href: ""
            }
        ]
    }
]
---

<footer class="bg-zinc-900 text-sm">
    <div class="max-w-screen-xl mx-auto flex flex-col px-4 py-8">
        <div class="flex gap-4">
            {
                links.map(item => (
                    <div class="flex flex-col gap-2 w-full">
                        <h4 class="font-bold">{item.category}</h4>
                        <nav class="text-zinc-500 flex flex-col">
                            {
                            item.links.map(link => (
                                <a class="hover:text-blue-500" href={link.href}>{link.name}</a>
                            ))
                        }
                        </nav>
                    </div>
                ))
            }
        </div>
        <hr class="border-zinc-800 my-8" />
        <div class="flex justify-between">
            <Image src={paperLogoDark} alt="" class="h-12 w-auto" />
            <p class="text-zinc-500">&copy; 2024 The PaperMC Team</p>
        </div>
    </div>
</footer>