---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import { Icon } from "astro-icon/components";
import TextInput from "./input/TextInput.astro";
import IconValuePair from "./IconValuePair.astro";
---

<div class="max-w-screen-xl mx-auto">
    <div class="flex justify-between py-2 px-4 items-center">
        <div class="flex items-center gap-2 font-bold text-xl">
            <Image src={logo} alt="" class="h-12 w-auto" />
            <h2>Hangar</h2>
        </div>
        <TextInput placeholder="Search" id="search" classList="max-w-xl" />
        <div class="flex gap-4">
            <button class="relative hover:bg-zinc-900 p-2 rounded">
                <Icon name="fa6-solid:bell" class="text-2xl" />
                <div
                    class="absolute top-0 right-0 rounded-full px-1 text-xs bg-red-500"
                >
                    16
                </div>
            </button>
            <button
                id="profileButton"
                class="hover:bg-zinc-900 hover:text-blue-500 p-2 rounded flex gap-2 items-center"
            >
                <img
                    src="https://placehold.co/200"
                    class="inline-block h-8 w-auto rounded"
                />
                FabianAdrian
            </button>
            <nav id="profileMenu" class="bg-zinc-900 flex flex-col rounded border-zinc-800 border shadow hidden">
                <a class="py-2 px-4 hover:text-blue-500 hover:bg-zinc-800" href="/profile">
                    <IconValuePair name="fa6-solid:user" value="Profile" />
                </a>
                <a class="py-2 px-4 hover:text-blue-500 hover:bg-zinc-800" href="/settings">
                    <IconValuePair name="fa6-solid:gear" value="Settings" />
                </a>
                <hr class="border-zinc-800" />
                <a class="py-2 px-4 text-zinc-500 hover:text-red-500 hover:bg-zinc-800" href="">
                    <IconValuePair name="fa6-solid:right-from-bracket" value="Sign out" />
                </a>
            </nav>
        </div>
    </div>
</div>

<script>
    import { createPopper } from "@popperjs/core";

    const profileButton = document.querySelector("#profileButton");
    const profileMenu = document.querySelector("#profileMenu");

    const popper = createPopper(profileButton, profileMenu, {
        placement: "bottom",
    });

    function toggleProfileMenu() {
        if (profileMenu?.classList.contains('hidden')) {
            // We need to tell Popper to update the tooltip position
            // after we show the tooltip, otherwise it will be incorrect
            popper.update();
            profileMenu?.classList.remove('hidden')
        } else {
            profileMenu?.classList.add('hidden');
        }
    }

    profileButton.addEventListener('click', toggleProfileMenu);
</script>
