---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---

<div class="max-w-screen-xl mx-auto">
    <div class="flex justify-between p-2 items-center">
        <div class="flex items-center gap-2 font-bold text-xl">
            <Image src={logo} alt="" class="h-12 w-auto" />
            <h2>Hangar</h2>
        </div>
        <div class="bg-zinc-900 rounded border-zinc-800 border-2">
            <input type="text" placeholder="Search" class="bg-transparent p-2">
        </div>
        <button>
            FabianAdrian
            <img src="https://placehold.co/200" class="inline-block h-8 w-auto" />
        </button>
    </div>
</div>