<div class="inline-flex rounded bg-zinc-900">
    <a class="py-2 px-4 hover:bg-zinc-800 rounded" href="">Previous</a>
    <a class="py-2 px-4 bg-blue-500 rounded" href="">1</a>
    <a class="py-2 px-4 hover:bg-zinc-800 rounded" href="">2</a>
    <a class="py-2 px-4 hover:bg-zinc-800 rounded" href="">3</a>
    <p class="py-2 px-4">...</p>
    <a class="py-2 px-4 hover:bg-zinc-800 rounded" href="">42</a>
    <a class="py-2 px-4 hover:bg-zinc-800 rounded" href="">Next</a>
</div>