<a href="/project" class="bg-zinc-900 flex p-4 gap-4 rounded">
    <img src="https://placehold.co/200" alt="" class="h-24 rounded">
    <div class="w-full">
        <div class="flex justify-between">
            <div>
                <h2 class="font-bold">Project name</h2>
                <p>Project description</p>
            </div>
            <div class="text-zinc-500 flex flex-col text-right">
                <div>stars</div>
                <dir>downloads</dir>
            </div>
        </div>
        <div class="flex justify-between text-zinc-500">
            <div>categories</div>
            <div>Last updated</div>
        </div>
    </div>
</a>