---
import ProjectListItem from "./ProjectListItem.astro";

// Placeholder projects
const projectsResponse = await fetch('https://hangar.papermc.dev/api/v1/projects');
const projects = await projectsResponse.json();
---

<nav class="flex flex-col gap-2 w-full">
    {
        projects.result.map((project) => (
            <ProjectListItem project={project} />
        ))
    }
</nav>