---
import ProjectListItem from "./ProjectListItem.astro";
---

<nav class="flex flex-col gap-2 w-full">
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
    <ProjectListItem />
</nav>